<% provide(:title, @user.name) %>

<div id='content' class='container-fluid'>
	<div class='row-fluid'>

		<div class='span4'>
			<p><%= gravatar_for @user %></p>
			<p><%= @user.name %></p>
			<p><%= @user.email %></p>
			<br>
			<p><%= link_to 'Edit Profile', edit_user_path(@user)%></p>
		</div>

		<div class='span8'>

			<%= link_to 'Add Run', new_run_path(:user_id => @user.id), :class => "btn", :id => "btn-add-run" %>
		</div>	

	</div>
</div>
