<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<%= @user.email %>

<%= link_to 'Edit Profile', edit_user_path(@user)%>

<%= link_to 'Add Run', new_run_path(:user_id => @user.id) %>
